@import "tailwindcss";

@theme {
  --color-background: #0A0A0F;
  --color-accent: #6C63FF;
  --color-teal: #00D4AA;
  --color-surface: #13131A;
  --color-border: #1E1E2E;
  --color-muted: #6B7280;
  --font-family-sans: "Sora", sans-serif;
  --font-family-mono: "JetBrains Mono", monospace;
}

body {
  background-color: #0A0A0F;
  color: #ffffff;
}